@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(255, 254, 254);
    font-family: 'Poppins', sans-serif;
}

.column {
    width: 100%;
  }

#about{
    background: url("/images/forest.jpg");
    background-size: cover;
    height: 1000px;
    background-position: center;

}

.menu-container {
    
    display: flex;
    
  }
nav ul li{
    display: inline-block;
    padding: 5px;
    font-size: 17px;
    
}

nav ul li a:hover{
    color: rgb(219, 4, 4);
    transition: 0.5s;
   
}


article{
    max-width: 1100px;
    margin: auto;
    text-align: center;
    padding: 10px;
    
}

h1{
    font-size: 60px;
    margin: 0;
    padding-top: 50px;
    margin-bottom: 50px;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(250, 245, 245, 0.548);
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    
}



footer{
    background: #bd0505;
    padding: 10px;
    text-align: center;
    
}




p{
    font-size: 20px;
}

@media(max-width:700px){
    nav ul li{
        
        padding: 3px;
        font-size: 14px;
    }

    @media (min-width: 600px) {
        .column {
          width: 50%;
        }
      }
      
    h1{
        font-size: 45px;
    }
    p{
        font-size: 15px;
    }
    h2,h3{
        font-size: 20px;
    }
}